.main{
    display: absolute;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-content: center;
}
.grid_tabbar{
    height: 45px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(300,5px);
    grid-template-rows: repeat(100, 3px);
    border-bottom: solid 1px #BDBDBD;
}
.logo{
    margin-top: 0px;
    padding-bottom: 1px;
    grid-column: 79;
    grid-row: 1;
}
.searchbar{
    display: flex;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-top:4px;
    width: 230px;
    height: 27px;
    grid-column: 158;
    grid-row: 1;
    background-color:#fcfcfc;
    text-align: center;
    border-radius: 4px;
    border: solid 1px #e6e6e6;
}
.historys{
    display: grid;
    grid-template-columns: repeat(150, 25px);
    grid-template-rows: 1;
    height: 925px;
    background-color: #fcfcfc;

}
.searchicon{
    margin-top: 4px;
    margin-right: 4px;
}
.searchtxt{
    font-size: 14px;
}
.homebutton{
    margin-top: 5px;
    grid-row: 1;
    grid-column: 256;   
}
.heartbutton{
    margin-top: 5px;
    grid-row: 1;
    grid-column: 277;
}
.advbutton{
    margin-top: 6px;
    grid-row: 1;
    grid-column: 270;
}
.messagebutton{
    margin-top: 5px;
    grid-row: 1;
    grid-column:263;
}
.profilebutton{
    border:double 1px #e6e6e6;
    border-radius: 20px;
    width: 25px;
    height: 25px;
    grid-row: 3;
    grid-column: 285;
}
.storyboard{
    display: absolute;
    border:solid 1px #fcfcfc;
    width: 640px;
    height: 920px;
    grid-column: 17;
    background-color: #fcfcfc;
    justify-items: center;
}
.upperstory{
    margin-top:28px;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
    justify-items: left;
    border: solid 1px #e6e6e6;
    width: 100%;
    height: 110px;
    background-color: white;
}
.storyitem{
    width: 60px;
    height: 60px;
    border: 3px solid transparent;
    border-radius: 40px;
    background-image: linear-gradient(#444444, #444444), linear-gradient(to right, red, orange,yellow);
    background-origin: border-box;
    background-clip: content-box, border-box;
    margin: 10px;
}
.checkedstory{
    display:flex;
    flex-direction: row;
}
.checkedstoryitem{
    display: absolute;
    width: 60px;
    height: 60px;
    border: 1px solid #e6e6e6;
    border-radius: 0px;
}
.storyid{
    display: absolute;
}
.post{
    display: absolute;
    border: solid 1px #e6e6e6;
    width: 100%;
    height:750px;
    background-color: white;
}
.rightsidebanner{
    display: relative;
    border: solid 1px #e6e6e6;
    background-color: #ffffff;
    margin-top:28px;
    width: 370px;
    height: 500px;
    grid-column: 44;
}
.upperpost{
    display: grid;
    grid-template-columns: repeat(150,5px);
    grid-template-rows: repeat(100,1px);
    width: 100%;
    height: 55px;
    border-bottom: solid 1px #e6e6e6;

}
.usericon{
    grid-column: 3;
    grid-row: 13;
    border: solid 1px #e6e6e6;
    border-radius: 25px;
    width: 30px;
    height: 30px;
}
.username{
    grid-column: 13;
    width: 100px;
    height: 25px;
    font-weight: bold;
}
.postoption{
    grid-column: 122;
    grid-row: 16;    
}
.middlepost{
    display: absolute;
    width: 100%;
    height: 500px;
    border-bottom: solid 1px #e6e6e6;
}
.lowerpost{
    display: grid;
    grid-template-columns: repeat(100,6px);
    grid-template-rows: repeat(100, 1px);
    width: 100%;
    height: 150px;
    border-bottom: solid 1px #e6e6e6;
}
.likebutton{
    grid-column: 2;
    grid-row: 5;
}
.commentlist{
    grid-column: 7;
    grid-row: 2;
}
.sharebutton{
    grid-row: 7;
    grid-column: 12;
}
.comment{
    display: grid;
    grid-template-columns: repeat(100, 10px);
    grid-template-rows: 1;
    width: 100%;
    padding-top: 7px;
    padding-left: 4px;
}
.inputcomment{
    grid-column: 5;
    width: 559px;
    margin-top: 1px;
}
.push{
    grid-column: 61;
    margin-top: 1px;
    width: 30px;
}
